 



<!-- nuestros clientes -->

<div class="center mt-4 container" >
    <div class="imagecli-container">
      <img src="assets/img/clientes/clientes.png" alt="Imagen 1">
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- nuestros clientes -->
  
  

<!-- estilos clientes -->
<style>
    .center {
        display: flex;
        justify-content: center;
    
        align-items: end;
        /* height: 30vh; Esto centra verticalmente en la pantalla */
    }
  
    .imagecli-container {
        max-width: 100%;
        width: 705%; /* Ajusta el ancho según sea necesario */
        margin: px;
        overflow: hidden;
    }
  
    .imagecli-container img {
        max-width: 100%;
        height: auto;
    }
  </style>
  <!-- estilos clientes -->